.vscode/

.venv/
venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

requirements.txt

trace.log
instruction_patterns/

build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

game_of_life
game_of_life_instrumented